#papo {
  top: 50px;
  position: relative;
}
h1 {
  color: red;
  top: 100px;
  position: relative
}
p {
  top: 50px;
  left: 100px;
  position: relative;
}
button {
  position: relative;
  top: 150px;
  scale: 2;
}